#loadTablero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tablero {
    width: 100vw;
    background-color: #4d3f72;
}

#tituloTablero {
    padding-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.listaName {
    background-color: transparent;
    border: 0px;
    font-size: x-large;
    font-weight: 500;
    width: 250px;
    color: white;
}

#listas {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
}

#listaTareas {
    padding-left: 0px;
}

#botonLista {
    background-color: transparent;
    border: 0px;
    border-radius: 5px;
    transition: background-color ease 0.2s;
    color: white;
}

#botonLista:hover {
    background-color: #8a7c9c;
    border: 0px;
}

#tareas {
    list-style-type: none;
    padding-left: 0px;
}

.tareaName {
    background-color: transparent;
    border: 0px;
    color: white;
    margin-top: .5rem;
}

#botonTarea {
    background-color: transparent;
    border: 0px;
    border-radius: 5px;
    color: white;
    transition: all ease 0.2s;
}

#botonTarea:hover {
    background-color: #4d3f72;
}

#elementosListas {
    min-width: 300px;
    background-color: rgb(34, 24, 48, 0.5);
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

#añadirTareaBtn {
    background-color: transparent;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    margin-top: .5rem;
    font-size: larger;
    color: white;
    transition: all ease 0.2s;
}

#añadirTareaBtn:hover {
    background-color: #4d3f72;
}

#añadirListaBtn {
    background-color: rgb(34, 24, 48, 0.5);
    border: 0px;
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 50px;
}

#añadirListaBtn:hover {
    background-color: #4d3f72;
}