#loadTablero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: 'Onest Variable';
    font-weight: 700;
}

#tablero {
    width: 40vw;
    height: 100%;
    margin-left: 30%;
    border-radius: 30px;
    padding: 2rem;
    background-color: #e8e8e8;
    margin-top: 5rem;
}


#tareas {
    list-style-type: none;
    padding-left: 0px;
}

#tareaInput {
    border: 0px;
    border-bottom: 2px solid #b90504;
    outline: none;
}

#dateInput {
    border: 0px;
    border-bottom: 2px solid #b90504; 
}

#tareaName {
    background-color: transparent;
    border: 0px;
    margin-top: .5rem;
    color: #333333;
}

#tareaDate {
    background-color: transparent;
    border: 0px;
    color: #333333;
    margin-top: .5rem;
}

#botonTarea {
    background-color: transparent;
    width: 30px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    color: #333333;
    transition: all ease 0.2s;
}

#botonTarea:hover {
    background-color: #990100;
    color: white;

}

#añadirTareaBtn {
    background-color: transparent;
    border: 0px;
    border-radius: 5px;
    font-size: larger;
    color: white;
    background-color: #b90504;

    transition: all ease 0.2s;
}

#añadirTareaBtn:hover {
    background-color: #990100;
}