#loadTablero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tablero {
    width: 100vw;
    background-color: rgb(232, 232, 232);
}

#tituloTablero {
    padding-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;

}

.listaName {
    background-color: transparent;
    border: 0px;
    font-size: x-large;
    font-weight: 500;
    width: 250px
    
}

#listas {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
}

#listaTareas {
    padding-left: 0px;
}

#tareas {
    list-style-type: none;
    padding-left: 0px;
}

#elementosListas {
    width: 350px;
    min-width: 300px;
    background-color: rgb(169, 169, 169);
    padding: 2rem;
    border-radius: 20px;
}

#añadirTareaBtn {
    width: 100%;
    margin-top: 1rem;
}